name: Test

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  test:
    name: os=${{ matrix.os }}, py=${{ matrix.python-version }}
    strategy:
      matrix:
        include:
          - environment: test-py311
            python-version: "3.11"
            os: ubuntu-latest
          - environment: test-py314
            python-version: "3.14"
            os: ubuntu-latest
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: prefix-dev/setup-pixi@v0.8.8
        with:
          environments: ${{ matrix.environment }}
      - name: Restore cached hypothesis directory
        id: restore-hypothesis-cache
        uses: actions/cache/restore@v4
        with:
          path: .hypothesis/
          key: cache-hypothesis-${{ runner.os }}-${{ github.run_id }}
          restore-keys: |
            cache-hypothesis-
      - name: List environment
        run: pixi run -e ${{ matrix.environment }} list-env
      - name: Run Tests
        run: pixi run -e ${{ matrix.environment }} test
      - name: Save cached hypothesis directory
        id: save-hypothesis-cache
        if: always()
        uses: actions/cache/save@v4
        with:
          path: .hypothesis/
          key: cache-hypothesis-${{ runner.os }}-${{ github.run_id }}

  test-rusterize:
    name: rusterize, py=${{ matrix.python-version }}
    strategy:
      matrix:
        include:
          - environment: test-rusterize-py311
            python-version: "3.11"
          - environment: test-rusterize-py314
            python-version: "3.14"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - uses: prefix-dev/setup-pixi@v0.8.8
        with:
          environments: ${{ matrix.environment }}
      - name: Restore cached hypothesis directory
        id: restore-hypothesis-cache
        uses: actions/cache/restore@v4
        with:
          path: .hypothesis/
          key: cache-hypothesis-${{ runner.os }}-${{ github.run_id }}
          restore-keys: |
            cache-hypothesis-
      - name: List environment
        run: pixi run -e ${{ matrix.environment }} list-env
      - name: Run Tests
        run: pixi run -e ${{ matrix.environment }} test
      - name: Save cached hypothesis directory
        id: save-hypothesis-cache
        if: always()
        uses: actions/cache/save@v4
        with:
          path: .hypothesis/
          key: cache-hypothesis-${{ runner.os }}-${{ github.run_id }}
